<h1>Generos</h1>

<div>
    <%=link_to 'Criar novo genero', new_genre_path%>
</div>

<ul>
    <% @genres.each do |genre| %>
        <li>
            <%= link_to genre.name, genre_path(genre.id) %>
        </li>
    <% end %>
</ul>